<?xml version="1.0"?>
<robot name="mobile_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find alphabot_description)/urdf/alphabot.urdf.xacro"/>
  <xacro:include filename="$(find rm_description)/urdf/rm_75_gazebo.urdf"/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/mobile_manipulator_ros_contol.xacro"/>





  <joint name="chassis_link_to_arm_base" type="fixed">
    <parent link="chassis_link"/>        
    <child  link="base_link"/>     
    <origin xyz="0 -0.2 0.5" rpy="0 0 -1.57"/>
  </joint>



  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find mobile_manipulator_control)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>


      <gazebo>
        <plugin name="amr_elevator_trigger_plugin" filename="libamr_elevator_trigger_plugin.so">

        <target_pose_enter>
            <x>-3.498</x>
            <y>0.017</y>
            <z>0.534</z>
        </target_pose_enter>

        <target_pose_exit>
            <x>5.0</x>
            <y>1.5</y>
            <z>0.0</z>
        </target_pose_exit>

        <tolerance>0.5</tolerance>
        </plugin>
    </gazebo>

  <xacro:include filename="$(find mobile_manipulator_description)/urdf/camera_module.urdf.xacro"/>

      <gazebo reference="camera_link_base">
      <material>Gazebo/Orange</material>
  </gazebo>

  <xacro:intel_d435_camera/>
  <joint name="sliderto_camera" type="fixed">
    <parent link="Link7"/>        
    <child  link="camera_link_base"/>     
    <origin xyz="0 0 0" rpy="0 -1.57 -1.57"/>
  </joint>

</robot>
